* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body
{
  font-family: sans-serif;

}
a{
  text-decoration: none;
  color: inherit;
}
.toggle-hidden{
  height: 100vh;
}


.nav {
  color: white;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.249);
  height: 10vh;
  width: 100vw;
  padding-top: 3vh;
  align-items: center;
  transition: 1s;
}
.none {
  display: none;
}
.nav{
  overflow: hidden;
}
nav .logo img {
  width: 90px;
 
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo h2 {
  font-size: 1.5rem;
}
nav {
  display: flex;
  margin: 0 10rem;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
nav button {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  border: #fff solid 2px;
  cursor: pointer;
}
nav .toggles {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav .toggles .apply {
  display: none;
}
nav .flex {
  display: flex;
}
nav .icon {
  padding: 10px;
 
  gap: 10px;
  cursor: pointer;
  color: #fff;
}
.window-scroll {
 
  background-color: #fff;
  color: black;
  transition: 1s;
}
.window-scroll button {
  color: #3b266e;
  border: 2px solid #3b266e;
}
.window-scroll .ham,
.window-scroll p {
  color: #3b266e;
}

.menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #3b266e, #bb4498);
  z-index: 1000;
  transition: 0.2s;
 
 

 
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu-links{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.menu .links-cont{
  display: flex;
 
}
.menu .links-cont ul{
  border-right: 2px solid white;
  width: 200px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  align-items: baseline;
  list-style: none;
  color: #90929a;

 

}
.menu .links-cont ul:last-child{
  border: none;
}
.menu .links-cont ul h1 a{
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
.menu .links-cont ul  a{
 
  color: #bfc0c3;

 
}
.appear {
  display: none;
  transition: 1s;
}
.nav-toggle {
  z-index: 10001;
}


.sidebar {
  position: fixed;
  display: flex;
  height: 100vh;
  left: 1.5vw;
  align-items: center;
  color: #d6d6d6;
  z-index: 1;
}
.sidebar-container {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  flex-direction: column;
}
.sidebar-container i {
  cursor: pointer;
  font-size: 20px;
}
.sidebar-container a{
  text-decoration: none;
  color: #d6d6d6;
}

.video-bg .mobile-vid {
  display: none;
}
.video-bg {
  width: 100vw;
  display: flex;
  position: relative;
  height: 110vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
}
.video-bg video {
  width: 100%;
  z-index: 0;

  position: absolute;
  filter: brightness(70%);
}
.video-bg .hero-content {
  z-index: 1;
  position: relative;
  color: #fff;
}
.video-bg h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 74px;
  letter-spacing: 1px;
  font-weight: 400;
}
.video-bg button,
.equipment-sales button{
  padding: 15px 25px;
  margin-top: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
  font-weight: bolder;
  border: 2px solid white;
  color: white;
}
.video-bg button:hover,
.equipment-sales button:hover{
  background-color: white;
  color: #301e5a;
 
  transition: 1s;
}
.video-bg i {
  margin-top: 4rem;
  background-color: #fff;
  color: black;
  padding: 11px 10px 8px 10px;
  cursor: pointer;
  border-radius: 100%;
  font-size: 30px;
  font-weight: bold;
}
.sec-img{
  background-position: top center;
  background-size:cover;
  background-repeat: no-repeat;
}







